@font-face {
  font-family: Sahel;
  src: url('../font/Sahel-FD.eot');
  src: url('../font/Sahel-FD.eot?#iefix') format('embedded-opentype'),
       url('../font/Sahel-FD.woff') format('woff'),
       url('../font/Sahel-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../font/Sahel-Bold-FD.eot');
  src: url('../font/Sahel-Bold-FD.eot?#iefix') format('embedded-opentype'),
       url('../font/Sahel-Bold-FD.woff') format('woff'),
       url('../font/Sahel-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../font/Sahel-Black-FD.eot');
  src: url('../font/Sahel-Black-FD.eot?#iefix') format('embedded-opentype'),
       url('../font/Sahel-Black-FD.woff') format('woff'),
       url('../font/Sahel-Black-FD.ttf') format('truetype');
  font-weight: 900;
}



 * {
  font-family: 'Sahel' !important;
  

 }

 


body {
  font-family: 'Sahel';
  font-weight: normal;
  letter-spacing: normal;
  word-spacing: normal;
}


h1,h2,h3,h4,h5 {
  letter-spacing: normal !important;
  word-spacing: normal !important;
  line-height: 1.4;
}

ul {
  margin-right: 1.75rem !important;
}


blockquote {
  border-right: 0.32813rem solid hsla(0,0%,0%,0.9);
  border-left: 0;
  padding-right: 1.42188rem;
  padding-left: 0;
}